<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Reciclica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list color="success">
    <ion-item color="success">
      <ion-avatar slot="start">
        <img src="https://cdn.icon-icons.com/icons2/2643/PNG/512/female_woman_avatar_people_person_white_tone_icon_159370.png"/>
      </ion-avatar>
      <ion-label>
        <h1>Rasyidini Ayu Rahmawati</h1>
        <p>Gathered: <span class="money">$ 25,03</span></p>
      </ion-label>
    </ion-item>
  </ion-list>

  <app-pickup-call-card status="hold" updatedAt="25/04/2024 16:29" createdAt="24/04/2024"
  notes="we have two bags that are full. One with plastic and the other with glasses">
    <ion-card-header header>
      <ion-card-subtitle>Last pickup call</ion-card-subtitle>
    </ion-card-header>
    <ion-button color="success" fill="clear" size="full" footer (click)="goToPickupCalls()">See all...</ion-button>
  </app-pickup-call-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success" (click)="newPickupCall()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
